* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-heading: 'Staatliches', cursive;
  --ff-texting: 'Palanquin', sans-serif;
}


header {
  background: #8E9AAF;
  text-align: center;

}

header img {
  padding: 3.2rem 12.1rem 4.0rem;
}

header h1 {
  font-family: var(--ff-heading);
  font-size: 4.0rem;
  line-height: 3.4rem;

  background: #CBC0D3;
  width: 384px;
  height: 49px;

  color: #FFFFFF;
  
  padding-top: 8px;
  padding-bottom: 3.6rem;
  
}

.page {
  background: #EFF1FF;
  position: absolute;
  height: 225rem;
  max-width: 38.4rem;
  margin: 0 auto;

}

main{
    display: grid;
    gap: 3.2rem;

}

main p {
  font-family: var(--ff-texting);
  font-size: 2.0rem;
  line-height: 1.5rem;
  
  width: 305px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 14px auto;

  color: #23053A;
}

.card {
  position: relative;
  padding: 3.2rem;
}

.card h2 {
  position: absolute;
  top: 5rem;
  right: 5rem;

  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  
  text-transform: uppercase;
  font-family: var(--ff-heading);
  font-size: 20px;
  line-height: 34px;

  letter-spacing: 0.05em;

  color: #4A4E69;

  background: #FEEAFA;
  border-radius: 20px;
  width: 11rem;
  
  text-align: center;
}
.card img {
  width: 32rem;
  object-fit: cover;
}